<div class="jumbotron">
	<h1>Welcome to Geartracker</h1>
	<p class="lead">Never miss a steal on the gear that you most want.</p>
</div>

<div class="row marketing">
	<h3>Sites Geartracker can currently monitor</h3>
	<div ng-repeat="gearSite in gearSites">
		<a href="{{gearSite.url}}" target="_blank"><h4>{{gearSite.name}}</h4></a>
		<p>{{gearSite.description}}</p>
	</div>
</div>

<div class="row marketing">
	<h3>Popular Items</h3>
	<div ng-repeat="popularItem in popularItems">
		<h4>{{popularItem.name}}</h4>
		<strong>{{popularItem.type}}</strong>
		<p>{{popularItem.description}}</p>
		<p>
			<span ng-repeat="category in popularItem.categories">
				<a href="#"><small>{{category}}</small></a>
			</span>
		</p>
	</div>
</div>
